<!DOCTYPE html>
<html lang="en">
<body>
	<p>
		Hello, <%=name%>
	</p>
	<p>
		We receved a <b>password recovery</b> request associated to your <b>FairGrader</b> account. Please follow <a href="<%=host%>/restore?id=<%=token%>" target="_blank">this link</a> to complete the process. Have in mind that link will be valid for only <b>10 minutes</b> after its creation. You can always restart the password recovery process at will.
	</p>
	<hr>
	<p>
		In case that you received this e-mail by mistake, please disregard it.
	</p>
	<p>
		--
		<br>
		FairGrader
	</p>
</body>
</html>