<!DOCTYPE html>
<html lang="en">
<body>
	<p>
		Dear <%=name%>,
	</p>
	<p>
		We receved a <b>password recovery</b> request associated to your <b>FairGrader@GSW</b> account. Please follow <a href="<%=host%>/email?uuid=<%=token%>" target="_blank">this link</a> to complete the process. Have in mind that link will be valid for only <b>1 day</b> after its creation. You can always restart the password recovery process at will.
	</p>
	<hr>
	<p>
		In case that you received this e-mail by mistake, please disregard it.
	</p>
	<p>
		--
		<br>
		FairGrader@GSW
	</p>
</body>
</html>