doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title FairGrader@GSW
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/eval.css')
	body
		include navbar
		.container-fluid
			.flex-center
				h1 Project evaluation
			fieldset
				legend Instructions
				.fieldset-content
					p  Bla-Bla-Bla
			div#project-coordinates(data-term=term, data-course=course, data-project=project)
		script(src='//code.jquery.com/jquery-3.1.1.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/eval_process.js')
