<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="10;URL='/'" />
	<link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href='/css/init.css'/>
	<title>Application initialization</title>
</head>
<body>
	<%include navbar%>
	<div class="container-fluid">
		<h3>
			Initialization completed.
			<small>
				<%=report%>
			</small>
		</h3>
		<p>
			You will be automatically redirected to the <a href="/">landing page</a>.
		</p>
	</div>
</body>
</html>