<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="3;URL='/'" />
	<title>Application initialization</title>
</head>
<body>
	<p>
		Initialization completed. You will be automatically redirected to the landing page.
	</p>
</body>
</html>