<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="10;URL='/'" />
	<title>Application initialization</title>
</head>
<body>
	<h4>
		Initialization completed. You will be automatically redirected to the landing page.
	</h4>
</body>
</html>