<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#right-menu" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">FairGrader @ GSW</a>
		</div>
		<div class="collapse navbar-collapse" id="right-menu">
			<ul class="nav navbar-nav navbar-right">
				<%
				if(session && session.uid) {
					let nameParts = session.name.split(/\s/);
					let name = '';
					if(nameParts[0].slice(-1) === ",") {
						name = nameParts[1] + ' ' + nameParts[0].slice(0,-1);
					}
					else {
						name = nameParts.slice(0,2).join(" ");
					}
					%>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=name%></a>
						<ul class="dropdown-menu">
							<!-- <li><a href="/eval">Evaluations</a></li> -->
							<li><a href="/reports">Reports</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</li>
					<%
				}
				else {
					%>
					<li><a href="/login">Login</a></li>
					<li><a href="/signup">Sign Up</a></li>
					<%
				}
				%>
			</ul>
		</div>
	</div>
</nav>
<div class="vgap"></div>