<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>FairGrader@GSW</title>
	<link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href='/css/reports.css'/>
</head>
<body>
	<%include navbar%>
	<div class="container-fluid flex-row flex-h-center">
		<%
		if(status !== 0 && typeof message === 'string' && message) {
			%>
			<div class="reports-error flex-column flex-center">
				<meta http-equiv="refresh" content="10;URL='/'" />
				<div class="mypanel header-panel">
					<h3 class="text-danger">
						Error
					</h3>
					<p><%=message%></p>
				</div>
			</div>
			<%
		}
		else if(status === 0 && data) {
			%>
			<div class="reports-body flex-column flex-center">
				<pre><%=JSON.stringify(data,null,3)%></pre>
			</div>
			<%
		}
		%>
	</div>
	<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
</body>
</html>
