<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>FairGrader@GSW</title>
	<link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/chartist/dist/chartist.min.css">
	<link rel='stylesheet' href='/css/reports.css'/>
</head>
<body>
	<%include navbar%>
	<%
	if(status !== 0 && typeof message === 'string' && message) {
		%>
		<div class="container-fluid flex-row flex-h-center">
			<div class="reports-error flex-column flex-center">
				<meta http-equiv="refresh" content="10;URL='/'" />
				<div class="mypanel header-panel">
					<h3 class="text-danger">
						Error
					</h3>
					<p><%=message%></p>
				</div>
			</div>
		</div>
		<%
	}
	else if(status === 0) {
		%>
		<div class="container-fluid">
			<div class="flex-center">
				<h1>Reports page</h1>
			</div>
			<fieldset>
				<legend>
					Project Selector
				</legend>
				<div class="fieldset-content">
					<div class="row">
						<div class="form-group col-sm-2 col-xs-6">
							<label>Term</label>
							<select id="select-term" class="form-control">
								<option value="--">--</option>
							</select>
						</div>
						<div class="form-group col-sm-4 col-xs-6">
							<label>Course</label>
							<select id="select-course" class="form-control">
								<option value="--">--</option>
							</select>
						</div>
						<div class="form-group col-sm-6 col-xs-12">
							<label>Project</label>
							<select id="select-project" class="form-control">
								<option value="--">--</option>
							</select>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>
					Report details
				</legend>
				<div id="report-details" class="fieldset-content"></div>
			</fieldset>
		</div>
		<%
	}
	%>
	<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
	<script src="/bower_components/chartist/dist/chartist.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/reports_old.js"></script>
</body>
</html>
