body,
html {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
}

h1, h2, h3, h4, legend {
	text-shadow: 1px 1px 2px #ccc;
}

.vgap {
   height: 51px;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.flex-row {
   display: flex;
   flex-direction: row;
}

.flex-main-center {
   justify-content: center;
}

.flex-aux-center {
   align-items: center;
}

.flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}
/*
	Error message block
*/
.eval-error {
   width: 75vw;
   height: 50vh;
   min-width: 400px;
   max-width: 600px;
}
.eval-error > .mypanel {
   margin: 10px 0;
   padding: 20px;
}
/*
	Body
*/
.button-container {
	margin-top: 30px;
}
.eval-body {
   width: 100%;
   max-width: 850px;
}
fieldset {
	margin-top: 30px;
}
.fieldset-content {
	margin-left: 50px;
}
#scores tbody tr td:first-child {
	white-space: nowrap;
}

