<!DOCTYPE html>
<html lang="en">
<body>
	<p>
		Dear <%=name%>,
	</p>
	<p>
		You, or someone on your behalf, have created a FairGrader@GSW account. Please follow <a href="<%=host%>/email?uuid=<%=token%>" target="_blank">this link</a> to confirm your intent. The link will be valid for <b>1 day</b>.
	</p>
	<hr>
	<p>
		In case that you received this e-mail by mistake, please disregard it.
	</p>
	<p>
		--
		<br>
		FairGrader@GSW
	</p>
</body>
</html>